<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @consumer.name %>
</p>

<p>
  <b>Gender:</b>
  <%= @consumer.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @consumer.age %>
</p>

<% @consumer.influences.each do |influence| %>
    <%= influence.influence %>
    <%= influence.brand.name %><br/>
<% end %>

<%= link_to "New influence", new_consumer_influence_path(@consumer) %>
<%= link_to 'Edit', edit_consumer_path(@consumer) %> |
<%= link_to 'Back', consumers_path %>
