<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @activity.text %>
</p>

<p>
  <b>Consumer:</b>
  <%= @activity.consumer_id %>
</p>

<p>
  <b>Picture:</b>
  <%= @activity.picture %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
