<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Brandlify</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>

  <link rel="stylesheet" href="/orangeflex/styles.css" type="text/css" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
<div id="wrap">
  <div id="header">
    <div id="header-text">

      <!-- page header - use <span></span> to colour text black, default color orange -->
      <table>
        <tr>
          <td width="126" > <img id="logo" src="/orangeflex/images/bvlogo_cropped.png"/></td>
          <td>
            <h1><a id="cmpn" href="#"><%= @consumer && @consumer.name ? @consumer.name + "'s" : '' %><span>brandlify</span></a></h1>
            <!-- sub title, text here is transformed to lower case -->
            <h2>You Decide Now</h2>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div style="text-align: right">
    <a href="/logout">Logout</a>
  </div>

  <div id="content">

    <%= yield %>

  </div>

  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script type="text/javascript">
      $(function () {
          FB.init({
              appId: "<%= Auth::Facebook.config[:client_id] %>",
              cookie: true,
              xfbml: true,
              oauth: true
          });
      });
  </script>

</body>
</html>
