<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Brandlify</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>

  <link rel="stylesheet" href="/orangeflex/styles.css" type="text/css" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
<div id="wrap">
  <div>
    <table>
      <tr>
        <td width="126" >
          <!-- img id="logo" src="/orangeflex/images/bvlogo_cropped.png"/ -->
          <img width="750" id="lin" src="/orangeflex/images/full_logo_white_bckgrnd.jpeg"/>
        </td>
      </tr>
      <tr>
        <td><h2>Amplify your brand!</h2></td>
      </tr>

      <tr>
        <!-- h1><a id="cmpn" href="#"><%= @consumer && @consumer.name ? @consumer.name + "'s" : '' %><span></span></a></h1-->
        <!-- sub title, text here is transformed to lower case -->
        <!-- h2>Amplify your brand!</h2-->
      </tr>

      <tr>
        <td width="253"> <%= yield %> </td>
        <td> <img width="253" id="lin" src="/orangeflex/images/js-signin.png"/></td>
      </tr>
      <tr>
        <td> <img id="tw" width="253" src="/orangeflex/images/sign-in-with-twitter_0.png"/></td>
        <td> <img id="go" width="253" src="/orangeflex/images/google.jpg"/></td>
      </tr>
    </table>

      <!-- page header - use <span></span> to colour text black, default color orange -->
   </div>

  <div style="text-align: right">
    <a href="/logout">Logout</a>
  </div>


  </div>

  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script type="text/javascript">
      $(function () {
          FB.init({
              appId: "<%= Auth::Facebook.config[:client_id] %>",
              cookie: true,
              xfbml: true,
              oauth: true
          });
      });
  </script>

</body>
</html>
